@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.nav_bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    align-items: center;
    height: 4rem;
    width: 100%; 
    text-decoration: none;
    position: fixed;
}

.logo {
    color: black;
    margin-left: 2rem;
    width: 50%;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.logo:hover {
    cursor: pointer;
}

li {
    color: black;
    margin-right: 2rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

li:hover {
    cursor: pointer;
}

.nav_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-items: right;
    justify-content: right;
    list-style: none;
    font-size: small;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}


