.badges_disp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    justify-content: center;
}

.loading {
    display: flex;
    align-self: center;
    padding-top: 3rem;
}