@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+Gurmukhi&family=Playfair+Display&display=swap');



.details_page{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: black;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

.hours_of_op {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    margin-right: .5rem;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

.days_times{
    display: flex;
    margin-left: .5rem;
    margin-right: .5rem;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

.days, .times {
    width: 150px;
}

.banner {
    height: 20rem;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    margin-top: 5rem;
    object-fit: cover;
}

.hours_desc {
    width: 100%;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 1rem;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

button {
    width: 100vw;
    padding: .5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    box-shadow: 0px -5px 5px -2px rgb(212, 218, 227);
    text-align: left;
    font-size: large;
    height: 4rem;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

button:hover {
    cursor: pointer;
}

.badge {
    display: flex;
    align-self: center;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border-width: .25rem;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 6px 2px rgb(212, 218, 227);
}
.badge:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 5px rgb(212, 218, 227);
}

h1 {
    display: flex;
    align-self: center;
    font-size: 1rem;
}

.badge_disp {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

.loading {
    display: flex;
    align-self: center;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

.learn_more_link {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

.main_sect {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}

.desc_disp {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
    margin: 2rem;
}

#desc {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Noto Sans Gurmukhi', sans-serif;
}








